.skill--container {
    margin-top: 0.5rem;    
}

.level-bar--outer {
    width: 100%;
    height: 4px;
    background-color: rgba(146, 81, 247, 0.1);
    border-radius: 5px;
}

.level-bar--inner {
    height: 100%;
    max-width: 100%;
    background-color: rgba(146, 81, 247, 1);
    border-radius: 5px;
}