.background--container {
    width: 100%;
    background-color: #F7F9FC;
    padding: 1.5rem 1.5rem;
}

.hline {
    width: 100%;
    margin: 1rem auto;
    align-self: center;
    height: 0.5px;
    background-color: #E2E6EE;
}